{{"product-item.css" |  asset_url |  stylesheet_tag}}


<div class="flex flex-col items-center gap-1">
    <div class="product_img-container">
        {% if product-item.available == false %}    
            <p class="out_of-stock">out of stock</p>   
        {% endif %}
        <img src={{product-item.featured_image | image_url }} width="auto" height="auto" alt="{{product-item.title}}">
    </div>
    <p class="paragraph-4 secondary-gray">{{product-item.type}}</p>
    <h6 class="heading-6 uppercase">{{product-item.title}}</h6>
    <h6 class="heading-6 red">{{product-item.price |  money}}</h6>
    <a role="button" href="{{product-item.url}}" class="button button_dark">view product</a>
</div>