<div>
    <img src={{product-item.featured_image | image_url }} width="auto" height="auto" alt="{{product-item.title}}">
    <p class="paragraph-4 secondary-gray">{{product-item.type}}</p>
    <h6 class="heading-6">{{product-item.title}}</h6>
    <h6 class="heading-6 red">{{prodict-item.price}}</h6>
    <button class="button_dark">view product</button>
</div>