{{"upsell-item.css" |  asset_url |  stylesheet_tag}}


<div class="flex flex-col items-center gap-1">
    <div class="upsell_img-container">
       
        <img src={{product-item.featured_image | image_url }} class="upsell_item-image" width="auto" height="210px" alt="{{product-item.title}}">
    </div>
    <p class="paragraph-4 secondary-gray">{{product-item.type}}</p>
    <h6 class="heading-6 uppercase">{{product-item.title}}</h6>
    <h6 class="heading-6 red flex gap-1 items-center">
        <span class="sale_price">
            {% if product-item.compare_at_price > product-item.price %}
                {{product-item.selected_or_first_available_variant.compare_at_price | money}}
            {% endif %}
            </span>
            {{product-item.price |  money }}
        </h6>
    <button type="button" data-variant="{{product-item.first_available_variant.id}}" class="button button_dark upsell_btn">Add to cart</button>
</div>