{{ 'footer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'footer.js' | asset_url }}" defer></script>

<footer>
  <div class="container">
    <div class="grid-cols-4 gap-2 mb-1">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'logo' %}
            <div>
              {% if settings.logo != blank %}
                <img
                  class="footer_logo"
                  src="{{settings.logo |  image_url}}"
                  width="{{settings.logo_width}}"
                  height="24"
                  alt="logo">
              {% else %}
                <img
                  class="footer_logo"
                  src="{{'footer-logo.png' |  file_url}}"
                  width="{{'104'}}"
                  height="24"
                  alt="logo">

              {% endif %}
              <div class="richtext-container paragraph-5 white">
                {% if block.settings.footer_text != blank %}
                  {{ block.settings.footer_text }}
                {% else %}
                  <p class="paragraph-5 white">Lorem ipsum dolor sit amet, <br/> consectetur adipiscing elit.</p>
                {% endif %}
              </div>

              <div class="flex gap-1 footer_icons_container">
                <a href="{{settings.facebook_url}}">{% render 'facebook-icon' %}</a>
                <a href="{{settings.vine_url}}">
                  {% render 'vinemo-icon' %}</a>
                <a href="{{settings.instagram_url}}">{% render 'instagram-icon' %}</a>
                <a href="{{settings.twitter_url}}">
                  {% render 'twitter-icon' %}</a>
              </div>
            </div>
          {% when 'navigation' %}
            {% assign main_menu_linklist = linklists[block.settings.menu].links %}

            <div>
              {% if block.settings.title != blank %}
                <h6 class="heading-6 red mb-1">{{ block.settings.title }}</h6>
              {% endif %}
              <ul class="flex flex-col gap-1">
                {% for link in main_menu_linklist %}
                  <li>
                    <a class='paragraph-4 white' href="{{link.url}}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div>
              <h6 class="heading-6 red mb-1">
                QUICK LINKS
              </h6>
              <ul class="flex flex-col gap-1">
                <li>
                  <a class="paragraph-4 white" href="{{routes.wishlist_url}}">Wishlist</a>
                </li>
                <li>
                  <a class="paragraph-4 white" href="{{routes.checkout_url}}">Checkout</a>
                </li>
                <li>
                  <a class="paragraph-4 white" href="{{routes.cart_url}}">Cart</a>
                </li>
              </ul>
            </div>
          {% when 'contact' %}
            <div>
              <h6 class="heading-6 red mb-1">
                {{ block.settings.title }}
              </h6>
              <ul class="flex flex-col gap-1">
                <li>
                  <a class="paragraph-4 white" href="#">{{ shop.address.address1 }}</a>
                </li>
                <li>
                  <a class="paragraph-4 white" href="phone:{{shop.phone}}">{{ shop.phone }}</a>
                </li>
                <li>
                  <a class="paragraph-4 white" href="mailto:{{shop.email}}">{{ shop.email }}</a>
                </li>
              </ul>
            </div>
        {% endcase %}
      {% endfor %}


    </div>
    <div class="line"></div>
    <div class="footer_bottom flex flex-between mt-1">
      <h6 class="heading-6 white uppercase">
        Copyright ©
        <span id="year"></span>
        {{ shop.name }}
      </h6>
      <h6 class="heading-6 uppercase white">All right reserved</h6>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "blocks": [
      {
        "type": "logo",
        "name": "logo",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "footer_text",
            "label": "text under logo"
          }
        ]

      }, {
        "type": "navigation",
        "name": "Navigation",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "INFORMATION"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "Navigation Menu",
            "default": "footer"
          }
        ]
      }, {
        "type": "contact",
        "name": "Contact",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "CONTACT US"
          }
        ]
      }
    ]
  }

{% endschema %}