{{'navbar.css' |  asset_url |  stylesheet_tag}}
<script src="{{ 'search.js' | asset_url }}" defer></script>
{% assign main_menu_linklist = linklists[section.settings.navigation].links %}
<style>
    :root{
        --logo-width: {{ settings.logo_width | default: "100" }}px;
    }
</style>
<header class="header">
    <div class="container flex flex-between">
        {% if settings.logo != blank %}
            <img width="{{settings.logo_width}}" height="24" src="{{settings.logo | image_url}}" alt="logo">
            {% else %}
            <img width="100" height="24" src="{{'logo.png' |  file_url}}" alt="logo">
        {% endif %}
        <nav class="navigation">
            <ul class="list_items">
                {% for item in main_menu_linklist %}
                    <li>
                        <a class="heading-6" href="{{item.url}}">{{item.title |  upcase}}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        
        <div class="icons_items">
            <form action="" class="search_form">
                <input type="text" class="search_input" style="display: none;">
                <button type="button" style="border: none; background: transparent; display: flex; aling-items: center">
                    {% render 'search-icon'  %}
                    </button>
                </form>
            {% render 'heart-icon' %}
            {% render 'cart-icon' %}
        </div>
    </div>
</header>


{% schema %}
    {
      "name": "Header",
      "settings": [
        {
          "type": "link_list",
          "id": "navigation",
          "label": "choose navigation",
          "default": "main-menu"
        }
      ]
    }
    {% endschema %}