{{'navbar.css' |  asset_url |  stylesheet_tag}}
<script src="{{ 'search.js' | asset_url }}" defer></script>

<header class="header">
    <div class="container flex-between">
        <img width="106" height="24" src="{{'logo.png' |  asset_img_url }}" alt="logo">
        <nav class="navigation">
            <ul class="list_items">
                {% for item in linklists.main-menu.links %}
                    <li>
                        <a class="heading-6" href="{{item.url}}">{{item.title |  upcase}}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        
        <div class="icons_items">
            <form action="" class="search_form">
                <input type="text" class="search_input" style="display: none;">
                <button type="button" style="border: none; background: transparent; display: flex; aling-items: center">
                    {% render 'search-icon'  %}
                    </button>
                </form>
            {% render 'heart-icon' %}
            {% render 'cart-icon' %}
        </div>
    </div>
</header>