{{ "newsletter.css" | asset_url | stylesheet_tag }}

{% form 'customer' %}
    <section class="newsletter">
      {% if form.errors %}
        <div class="errors">
          {% for error in form.errors %}
            <p class="white">{{ error.message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    <div class="container newsletter_container">
      <div class="newsletter_container-left">
        <h4 class="heading-4 white uppercase">
          {{ section.settings.title }}
        </h4>
        <div class="paragraph-5 white newsletter_subtitle">
          {{ section.settings.subtitle }}
        </div>
      </div>
      <div class="newsletter_container-right">
      {% if form.posted_successfully? %}
        <p class="white paragraph-2">your email is successfully added</p>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="email"
          name="contact[email]"
          id="Email"
          value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
          placeholder="please enter your email"
          autocorrect="off"
          autocapitalize="off">
          <button type="submit" name="commit" class="button button_{{section.settings.button_type}}">{{ section.settings.button_label }}</button>
        {% endif %}
        </div>
    </div>
  </section>
{% endform %}



{% schema %}
  {
    "name": "Newsletter",
    "presets": [{
      "name": "Newsletter"
    }],
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "title",
        "default": "our newsseller"
      }, {
        "type": "richtext",
        "id": "subtitle",
        "label": "subtitle",
        "default": "<p>Subscribe to get more useful information about us and to get you 15% discount offyour next purchase  </p>"
      }, {
        "type": "select",
        "id": "button_type",
        "label": "Button Type",
        "options": [
          {
            "value": "primary",
            "label": "primary"
          }, {
            "value": "secondary",
            "label": "Secondary"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Subscribe"
      }
    ]
  }

{% endschema %}