{{'hero.css' |  asset_url |  stylesheet_tag}}


<section class="banner">
   {% if section.settings.bg_image != blank %}
      <img class="banner_bg-image" src="{{ section.settings.bg_image|  image_url}}" width="100%" height="100%" alt="banner">
      {% else %}
      <img class="banner_bg-image" src="{{'banner-bg.png' |  file_url}}" width="100%" height="100%" alt="banner">
   {% endif %}
   <div class="banner_container">
    <div class="banner_text-container">
      <h1 class="heading-2 white hero_title">
         {{section.settings.title}}
      </h1>
         <div class="paragraph-2 third-gray hero_subtitle">
            {% if section.settings.subtitle != blank%}
        
               {{section.settings.subtitle}}
               
               {% else %}
                  
               <p class="paragraph-2 third-gray hero_subtitle">We will help you to choose the product
                  that without the doubt suits you best.
                  And we mean it</p>
            {% endif %}
         </div>
         <a href="{{section.settings.button_url}}" class="button button_{{section.settings.button_type}}">{{section.settings.button_label}}</a>
    </div>
    <div class="banner_img-container">
      {% if section.settings.image != blank %}
         <img class="banner_img" src="{{ section.settings.image  |  image_url}}" width="auto" height="auto" alt="shoes">
         {% else %}
         <img class="banner_img" src="{{'banner-img.png' |  file_url}}" width="auto" height="auto" alt="shoes">
            
      {% endif %}
    </div>
   </div>
</section>


{% schema %}
   {
  "name": "Hero",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "choose your shoes with us."
    },
    {
      "id": "subtitle",
      "type": "richtext",
      "label": "Subtitle"
    },
    {
      "id": "button_type",
      "type": "select",
      "label": "Button Type",
      "default": "secondary",
      "options": [
        {
          "value": "primary",
          "label": "primary"
        },
        {
          "value": "secondary",
          "label": "secodary"
        },
        {
         "value": "dark",
         "label": "dark"
        },
        {
         "value": "outline",
         "label": "outline"
        }
      ]
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "Button Label",
      "default": "Read More"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "Button URL"
    },
    {
      "id": "bg_image",
      "type": "image_picker",
      "label": "Background Image"
   
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    }
  ]
}

{% endschema %}