{{ "collection.css" | asset_url | stylesheet_tag }}
<script src="{{ 'collection.js' | asset_url }}" defer></script>

{% assign product_per_page = 4 %}
{% render 'breadcrumbs'
  , page-title: 'Shop'
  , page-img: collection.featured_image %}

<section class="collection">
  {% paginate collection.products by product_per_page | sort: sort_by %}
    {% if paginate.current_page > 1 %}
    {% endif %}
    {% assign number_of_displayed_products = product_per_page | times: paginate.current_page %}
    {% assign start_of_number_of_displayed_products = number_of_displayed_products | minus: product_per_page | plus: 1 %}
    <div class="container">
      <div class="sorting_container flex">
        <div class="flex items-center">
          <div class="flex paragraph-5 items-center">
            <label for="sorting">{% render 'settings-icon' %}</label>
            <select class="collection_sort-select" id="sort-select">
              <option value="">sort by</option>
              <option value="price-asc">Price: Low to High</option>
              <option value="price-desc">Price: High to Low</option>
            </select>
          </div>
          <p class="paragraph-5 ml-1">
            Showing {{ start_of_number_of_displayed_products }}-{% if paginate.current_page == paginate.pages %}
              {{ collection.all_products_count }}
            {% else %}
              {{ number_of_displayed_products }}
            {% endif %}
            of {{ collection.all_products_count }}
          </p>
        </div>
        <form class="filter-form">
          <p class="paragraph-5">Filters:</p>
          {%- for filter in collection.filters -%}
            <details class="filter-details paragraph-5">
              <summary class="filter-summary">
                <div class="filter-header">
                  <span class="filter-label">{{ filter.label }}</span>
                  {%- if filter.active_values.size > 0 -%}
                    <span class="filter-active-count">({{ filter.active_values.size }})</span>
                  {%- endif -%}
                </div>
              </summary>

              <div class="filter-body paragraph-3">
                <div class="filter-info">
                  <p class="filter-selected-count">{{ filter.active_values.size }} selected</p>
                  {%- if filter.active_values.size > 0 -%}
                    <p class="filter-reset">
                      <a href="{{ filter.url_to_remove }}">Reset</a>
                    </p>
                  {%- endif -%}
                </div>
                {%- case filter.type -%}
                  {%- when 'boolean' -%}
                    <ul class="filter-options">
                      <li class="filter-option">
                        <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}" class="filter-label">
                          <input
                            type="checkbox"
                            name="{{ filter.param_name }}"
                            value="{{ filter.true_value.value }}"
                            id="Filter-{{ filter.param_name }}"
                            {% if filter.true_value.active -%}
                            checked{%- endif %}
                            {% if filter.true_value.count == 0 and filter.true_value.active == false -%}
                            disabled{%- endif %}>{{ filter.true_value.label }}</label>
                      </li>
                      <li class="filter-option">
                        <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}" class="filter-label">
                          <input
                            type="checkbox"
                            name="{{ filter.param_name }}"
                            value="{{ filter.false_value.value }}"
                            id="Filter-{{ filter.param_name }}"
                            {% if filter.false_value.active -%}
                            checked{%- endif %}
                            {% if filter.false_value.count == 0 and filter.false_value.active == false -%}
                            disabled{%- endif %}>{{ filter.false_value.label }}</label>
                      </li>
                    </ul>
                    <div class="filter-apply">
                      <input
                        type="submit"
                        value="Apply"
                        class="filter-apply-button button_primary">
                    </div>
                  {%- when 'list' -%}
                    <ul class="filter-options">
                      {%- for filter_value in filter.values -%}
                        <li class="filter-option">
                          <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}" class="filter-label">
                            <input
                              type="checkbox"
                              name="{{ filter_value.param_name }}"
                              value="{{ filter_value.value }}"
                              id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                              {% if filter_value.active -%}
                              checked{%- endif %}
                              {% if filter_value.count == 0 and filter_value.active == false -%}
                              disabled{%- endif %}>
                            <span class="filter-display">
                              {%- case filter_value.display.type -%}
                                {%- when 'colors' -%}
                                  {% liquid
                                    assign size_limit = filter_value.display.value.size | at_most: 4
                                    assign rotation = '0deg'
                                    if size_limit == 2
                                      assign rotation = '45deg'
                                    endif

                                    assign angle_increment = 360 | divided_by: size_limit
                                    assign angle = 0
                                  %}
                                  {%- capture conic_gradient -%}
                                    {%- for color in filter_value.display.value limit: size_limit -%}
                                      {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                                    {%- endfor -%}
                                  {%- endcapture -%}
                                  <span class="filter-color" style="
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                                  ">
</span>
                                {%- when 'image' -%}
                                  {{ filter_value.display.value
 | image_url: width: 25
 | image_tag: alt: filter_value.display.value.alt
                                  }}
                                {%- else -%}
                                  <span class="visual-display__child"></span>
                              {%- endcase -%}
                            </span>
                            {{ filter_value.label }}
                          </label>
                        </li>
                      {%- endfor -%}
                    </ul>
                    <div class="filter-apply">
                      <input
                        type="submit"
                        value="Apply"
                        class="filter-apply-button button_primary">
                    </div>
                  {%- when 'price_range' -%}
                    <div class="filter-group-display__price-range">
                      <div class="filter-group-display__price-range-from">
                        <span>{{ cart.currency.symbol }}</span>
                        <input
                          name="{{ filter.min_value.param_name }}"
                          id="Filter-{{ filter.min_value.param_name }}"
                          {% if filter.min_value.value -%}
                          value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                          {%- endif %}
                          type="number"
                          placeholder="0"
                          min="0"
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                        <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                      </div>
                      <div class="filter-group-display__price-range-to">
                        <span>{{ cart.currency.symbol }}</span>
                        <input
                          name="{{ filter.max_value.param_name }}"
                          id="Filter-{{ filter.max_value.param_name }}"
                          {% if filter.max_value.value -%}
                          value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                          {%- endif %}
                          type="number"
                          placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          min="0"
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                        <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                      </div>
                    </div>
                    <div class="filter-group-display__submit">
                      <input
                        type="submit"
                        value="Apply"
                        class="filter-apply-button button_primary">
                    </div>
                {%- endcase -%}
              </div>
            </details>
          {%- endfor -%}

          <p class="paragraph-5">
            <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}">Clear all</a>
          </p>

        </form>
      </div>
      <div class="selected-filters">
        {%- for filter in collection.filters -%}
          {%- if filter.type == "price_range" -%}
            {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
              <p>
                <a href="{{ filter.url_to_remove }}" class="selected-filter paragraph-5">
                  {%- assign min_value = filter.min_value.value | default: 0 -%}
                  {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                  {{ min_value | money }} - {{ max_value | money }} X
                </a>
              </p>
            {%- endif -%}
          {%- else -%}
            {%- for filter_value in filter.active_values -%}
              <p>
                <a href="{{ filter_value.url_to_remove }}" class="selected-filter paragraph-5">
                  {{ filter.label }}: {{ filter_value.label }} X
                </a>
              </p>
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
      <div class="grid-cols-{{section.settings.product_per_row}} gap-2 mt-2">

        {% for product in collection.products %}
          {% render 'product-card'
            , product-item: product %}
        {% endfor %}
      </div>
      <div class="flex justify-center mt-2">
        {% render 'pagination'
          , pagination: paginate %}
      </div>
    </div>
  {% endpaginate %}
</section>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "id": "product_per_row",
        "label": "Product per row",
        "type": "select",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          }, {
            "value": "4",
            "label": "4"
          }
        ]
      }
    ]
  }
{% endschema %}